:root {
    --primary-color: #007BFF;
    --primary-dark: #0056b3;
    --text-color: #333;
    --text-color-light: #6c757d;
    --bg-color: #FAFAFA;
    --bg-color-card: white;
    --card-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --nav-bg: white;
    --feature-icon-bg: #e7f0ff;
    --border-color: #dee2e6;
    --footer-bg: #1c2c3c;
    --footer-text: white;
    --footer-link: #cfd8dc;
}

[data-theme="dark"] {
    --primary-color: #3399FF;
    --primary-dark: #1A73E8;
    --text-color: #f8f9fa;
    --text-color-light: #ced4da;
    --bg-color: #1E1E24;
    --bg-color-card: #2D2D39;
    --card-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --nav-bg: #2D2D39;
    --feature-icon-bg: #2a3c50;
    --border-color: #4d4d58;
    --footer-bg: #15151A;
    --footer-text: #f8f9fa;
    --footer-link: #ced4da;
}
